@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
  font-family: 'Montserrat', 'Times New Roman', Times, serif;
}

ul{
  text-align: left;
  list-style-type: none;

}
li {
  margin: 10em;
}

.container {
  text-align: center;
}

.logo {
  width: 100px;
  border-radius: 20px;
}

header {
  display: flex;
  justify-content: space-between;
}

.coronavirus {
  float: right;
  width: 40%;
  margin: 0 1em 0 0;
  padding: 1em;
  border: 1px solid black;
}

.shortage {
  float: right;
  width: 40%;
  margin: 0 1em 0 0;
  padding: 1em;
  border: 1px solid black;
}

.mental_health {
  float: right;
  width: 40%;
  margin: 0 1em 0 0;
  padding: 1em;
  border: 1px solid black;
}

.pollution {
  float: right;
  width: 40%;
  margin: 0 1em 0 0;
  padding: 1em;
  border: 1px solid black;
}